*{
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
	font-family: 'OpenSans';
}
html,body{
	height: 100%;
}
@font-face{
	font-family: 'OpenSans';
	src:url("../fonts/OpenSans-Light.ttf");
}
/*Divs Gerais*/
.clear{
	clear: both;
}
.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
header{
	padding: 10px 2% 40px 2%;
	background-color: #e6e6e6;
}
.logo-1{
	float: left;
	width: 160px;
	height: 90px;
	background-image: url("../imagens/logo1.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.logo-2{
	float: right;
	width: 160px;
	height: 90px;
	background-image: url("../imagens/logo2.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

section.cover-form{
	width: 100%;
	padding: 0 2%;
}
.bg{
	height: 500px;
	background-image: url("../imagens/bg-form.jpg");
	background-size: cover;
	background-position: center;
}
.form-container{
	margin-right: 40px;
	float: right;
	width: 400px;
	height: calc(100% + 40px);
	position: relative;
	top: -20px;
	background-color: white;
	box-shadow: 0 0 1px 2px rgb(160,160,160)
}

.form-container h2{
	padding: 25px 15px;
	background-color: rgb(235,235,235);
	font-weight: normal;
	color: #735858;
	font-size: 18px;
}
.form-container form{
	padding: 15px 25px;
	margin-top: 8px;
}
.form-container form p{
	font-size: 14px;
	color: #525252;
}
.form-wraper:not(:first-child){
	margin-top: 40px;
}
.form-wraper:last-child{
	margin-top: 20px;
}
.form-container input[type=text]{
	width: 100%;
	border:1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}
.form-container input[type=text]:focus{
	outline: 0;
}
.form-container input[type=submit]{
	/*(background-color: #033c50;*/
	background-color: #1d5560;
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 25px;
	height: 50px;
	cursor: pointer;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom:0;
}

section.chamada{
	width: 100%;
	text-align: center;
	padding: 0 2%;
}
section.chamada > .container{
	padding: 80px 0 50px 0;
	background-color: #e6e6e6;
}

section.chamada .container h2{
	width: 96%;
	max-width: 600px;
	display: inline-block;
	color: #735858;
	font-size: 30px;
	font-weight: normal;
}
section.chamada .container  p{
	margin-top: 10px;
	width: 90%;
	max-width: 800px;
	display: inline-block;
	color: #735858;
	font-size: 25px;
}
/*Estilizando o mosaico */
section.mosaico{
	width: 100%;
	padding: 0 2%;
}
.flex-mosaico{
	width: 100%;
	display: flex;
}
.item-padrao-mosaico{
	padding: 40px;
	width: 40%;
}
.item-padrao-mosaico p{
	line-height: 20px;
	color: white;
	letter-spacing: 1px;
}
/*Iten individuais mosaico*/
.item-1-mosaico{
	background-position: center;
	background-size: cover;
	width: 60%;
}
.bg-2-mosaico{
	background-color:#629fed;
}
.bg-4-mosaico{
	background-color: #3076ff;
}
.bg-6-mosaico{
	/*background-color: #215d9b;*/
	background-color: 	#21a689;
}
.bg-8-mosaico{
	/*background-color:#1c2c7c;*/
	background-color: 	#71cab1;
}

/*Footer*/
footer{
	padding: 0 2%;
}
footer p{
	margin-top: 8px;
}
footer > .container{
	border-top: 2px solid #062847;
	text-align: center;
	background-color: rgb(235,235,235);
	padding:30px 0;
	color: #735858;
}
footer img{
	width: 160px;
}


		/*CSS Responsivo*/
@media screen and (max-width: 768px){

	.bg{
		padding: 10px 0;
		height: auto;
		text-align: center;
	}
	.form-container{
		height: auto;
		margin: 0;
		position: static;
		float: none;
		display: inline-block;
		max-width: 400px;
		width: 96%;
	}
	.flex-mosaico{
		display: block;
	}
	.item-1-mosaico{
		width: 100%;
		padding-top: 80%;
	}
	.item-padrao-mosaico{
		width: 100%;
	}
	.item-padrao-mosaico p{
		text-align: justify;
	}
}

@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	[class^="logo"]{
		margin-top: 10px;
		float: none;
		display: inline-block;
	}
}

